/* importaciones */
@font-face {
    font-family: 'simpsons';
    src: url('/Simpsonfont\ DEMO.otf');
}


body{
    background-color: rgb(237, 243, 247);
    margin:0;
    padding:0;
    font-family: 'simpsons';
}

ul li{
    list-style-type: none;
    a{
        text-decoration: none;
    }
}

.orientacion{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;

    @media (max-width: 760px) {
    flex-direction: column;
  }
}


.logo_header{
    height: 100px;
}

.header_class{
    background-color: rgba(17, 8, 102, 0.235);

    a{
        color: rgb(4, 0, 255);

        &::after{
            color: rgb(163, 10, 10);
        }
        &:hover{
            color: rgb(8, 109, 8);
        }
    }
}

.hero{
    background: linear-gradient( rgba(100,57,6,0.5), rgba(0,0,0,0.5)), url(https://cdn.dribbble.com/userupload/22148904/file/original-56b19720d83b146e748d69554e264aff.jpg?resize=752x&vertical=center)
    no-repeat;
    height: 600px;
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button{
        border-radius: 10px;
        border: solid 4px rgb(61, 207, 42);
        box-shadow: 0px 10px 20px rgba(110, 2, 2, 0.5);
        cursor: pointer;
        color: aqua;
        background-color: rgb(8, 15, 7);
        &:hover{
            background-color: rgb(20, 80, 40);
        }
        &:active{
            background-color: rgb(30, 90, 60);
        }
    }
}