/* importaciones */
@font-face {
    font-family: 'simpsons';
    src: url('/Simpsonfont\ DEMO.otf');
}


body{
    background-color: rgb(237, 243, 247);
    margin:0;
    padding:0;
    font-family: 'simpsons';
}

ul li{
    list-style-type: none;
    a{
        text-decoration: none;
    }
}

.orientacion{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}


.logo_header{
    height: 100px;
}

.header_class{
    background-color: rgba(17, 8, 102, 0.235);

    a{
        color: rgb(4, 0, 255);

        &::after{
            color: rgb(163, 10, 10);
        }
        &:hover{
            color: rgb(8, 109, 8);
        }
    }
}
