body{
    background-color: rgb(237, 243, 247);
    margin:0;
    padding:0;
}


.centralizar{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

ul li{
    list-style-type: none;
    a{
        text-decoration: none;
    }
}

.logo_header{
    height: 100px;
}